* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-top {
    height: 30px;
    background-color: #0282f9;
}

header {

    // height: 120px;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


    .cont-header {
        max-width: 1200px;
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // background-color: aquamarine;
    }

    input {
        width: 13%;
        outline: 0;
        border-width: 0 0 2px;
        border-color: blue
    }

    .img-header {
        width: 80px;
        height: 80px;
    }

    ul {
        width: 80%;
        display: flex;
        justify-content: space-between;

        li {

            list-style-type: none;

            a {
                text-decoration: none;
                color: black;
                font-size: 13px;
                font-weight: bold;

            }

        }

    }

}

.jumbotron {
    width: 100%;
    // height: 300px;
    padding: 170px;
    background-image: url("/resources/img/jumbotron.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;



    a {
        text-decoration: none;
        color: white;
    }



}

.first-footer {
    // height: 500px;
    padding: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("/resources/img/footer-bg.jpg");

    .container {
        max-width: 1200px;
        width: 70%;
        height: 100%;
        display: flex;
        align-items: center;
        color: white;
        position: relative;

        .cont-footer {
            //  width: 450px;
            height: 100%;
            display: flex;
            flex-wrap: wrap;

            .cont {
                width: calc(100% / 3);

                li {

                    list-style-type: none;

                    a {
                        line-height: 21px;
                        display: block;
                        text-decoration: none;
                        color: #6c6d6f;

                    }

                    .title-text {
                        color: white;
                        font-weight: bold;
                        margin-bottom: 6px;
                    }


                }

                .shop {
                    margin-top: -50px;

                }


            }

            .height {
                margin-top: -60px;

            }

        }


        .img {

            position: absolute;
            right: 0;
            z-index: 1;

        }

    }

}

.second-footer {
    // height: 150px;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303030;
    position: relative;
    z-index: 50;


    .container {
        max-width: 1200px;
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;

        .sign {
            text-decoration: none;
            color: white;
            font-weight: bold;
            font-size: 18px;
            border: 2px solid #0282f9;
            padding: 18px;
            text-align: center;

        }

        .cont-socials {
            height: 100%;
            width: 400px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .text-follow {
            color: #0282f9;
            font-size: 20px;
        }

        .social-img {
            vertical-align: middle;
            margin-bottom: 10px;
        }
    }

}

.main-cont {
    // height: 130px;
    padding: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c;

    .text-current {
        padding: 20px 30px;
        background-color: #0282f9;
        color: white;
        font-size: 25px;
        position: absolute;
        bottom: 45%;
        right: 70%;
        font-weight: bold;
        text-decoration: none;

    }

    .container {
        max-width: 1200px;
        width: 70%;
        height: 100%;
        color: white;
        font-size: 25px;

        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                list-style-type: none;
                width: calc(100% / 6);
                height: 200px;
                margin-bottom: 50px;

                .text {
                    font-size: 17px;
                    width: 180px;
                }

                img {
                    height: 160px;
                    width: 150px;
                }

            }
        }

        a {
            text-decoration: none;
            color: white;

        }

        .cont-btn {
            height: 60px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .btn {
                padding: 10px 50px;
                background-color: #0282f9;
                color: white;
                font-size: 15px;
                font-weight: bold;
            }

        }

    }

}

.second-main {
    // height: 150px;
    padding: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0282f9;
    position: relative;
    z-index: 50;


    .container {
        max-width: 1200px;
        width: 70%;
        height: 100%;
        color: white;

        ul {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            li {
                list-style-type: none;

                a {
                    text-decoration: none;
                    color: white;
                    font-size: 13px;
                    margin-left: 10px;
                }

                .img {
                    height: 55px;
                    width: 50px;
                    vertical-align: middle;
                    object-fit: contain;
                }


            }
        }
    }

}

.action {
    height: 70px;
    background-color: #0282f9;
}

.first-main-details {
    // height: 500px;
    padding: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .cont {
        width: 50%;
        // background-color: red;
        height: 80%;
        display: flex;

        .text {
            width: 70%;
            height: 100%;
            padding: 10px 0px;
            // background-color: aqua;
            padding-right: 10px;

            .title {
                color: #237096;
                font-size: 25px;
            }

            .buttons {
                display: flex;
                margin-top: 15px;

                .button-price {
                    width: 70%;
                    background-color: #55ba59;
                    height: 50px;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0px 10px;

                    .price {
                        color: #86da75;

                        span {
                            color: white;
                        }
                    }

                    span {
                        color: #86da75;
                    }
                }

                .button-av {
                    width: 25%;
                    background-color: #55ba59;
                    height: 50px;
                    border: none;
                    margin-left: 2px;
                    color: white;

                }

            }

            .description {
                margin-top: 15px;
            }
        }
    }

    .img-cont {
        width: 30%;
        height: 100%;
        // background-color: blue;

        .text-img {
            // height: 50px;
            width: 100%;
            display: flex;
            justify-content: flex-end;

        }

        .img {
            height: 250px;
            width: 100%;
        }
    }
}

.second-main-details {
    // height: 500px;
    padding: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;

    .cont {
        width: 50%;
        // background-color: red;
        height: 80%;
        display: flex;

        .talent {
            width: 50%;
            height: 100%;
            // background-color: aqua;
            padding-right: 10px;

            .box {
                width: 100%;
                height: 50px;
                // background-color: red;
                display: flex;
                justify-content: space-between;

                .text1 {
                    width: 30%;
                    // background-color: #86da75;

                    span {
                        color: #237096;
                    }
                }

                .text2 {
                    width: 55%;
                    // background-color: #256589;

                    a {
                        color: #0000EE;
                        text-decoration: none;
                    }

                }
            }

        }
    }

    .specs {
        width: 50%;
        height: 100%;
        // background-color: blue;
        padding-left: 10px;


        .box {
            width: 100%;
            height: 50px;
            // background-color: red;
            display: flex;
            justify-content: space-between;

            .text1 {
                width: 30%;
                // background-color: #86da75;

                span {
                    color: #237096;
                }
            }

            .text2 {
                width: 55%;
                // background-color: #256589;

                a {
                    color: #0000EE;
                    text-decoration: none;
                }

            }
        }



    }


}

.cont-list {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;

    .list {
        width: 50%;
        height: 100%;
        background-color: red;
        display: flex;

        .card {
            width: calc(100% / 4 - 5px);
            margin: 0 5px;
            height: 100%;
            background-color: #237096;
            display: flex;
            justify-content: space-between;

            .text {
                width: 50%;
                background-color: blue;
                font-size: 13px;
            }

            .img {
                width: 30%;
                background-color: green;
                display: flex;
                justify-content: center;
                align-items: center;

                .img-comics {
                    height: 80%;
                    width: 80%;
                    object-fit: contain;
                }
            }
        }
    }
}

.text-title {
    color: #237096;
    font-size: 25px;
}

.line {
    margin-top: 30px;
    width: 100%;
}

.line2 {
    margin: 10px;

}